* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    min-width: 960px;
}


a { color: #65cbf8; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }

.main {
	min-height: 100%;
    position: relative;
}

.header {
	background: #D4D4D4;
	padding: 30px 0;
}

.header_main {
	margin: 0 auto;
	width: 960px;
}

.logo {
	height: 28px;
	width: 171px;
	float: left;
	background: url(../images/logo.png);
}

.header_main:after{
	content: "";
	display: block;
	clear: both;
}

.navigation {
	float: right;
	padding-top: 8px;
	list-style: none; 
	font-size: 11px; 
	font-weight: bold; 
}

.nav_a{ 
	display: inline-block; 
	vertical-align: top;
	padding: 0 0 0 44px;
	color: #77777b; 
}
 .nav_a a {
 color: #77777b; 
 }
 
.nav_a:hover ,.nav_a a :hover { 
	color: #2497e0; 
	text-decoration: none;
}

